.back {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    width: fit-content;
    background-color: #0db9e0;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 50px 20px;
    cursor: pointer;
  }
  .back:hover{
    background-color: #0ecbf6;
  }
  
  .back p {
    margin-left: 10px;
  }